body {
    background-color: #FFCC99; /* pastel orange */
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

h1, h2, h3, p {
    margin: 0;
    padding: 3px;
}

.footer{
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}
img.about{
    max-width: 25%;
    max-height: 500px;
}