body {
    background-color: #FFCC99; /* pastel orange */
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

h1, h2, h3, p {
    margin: 0;
    padding: 10px;
}
